<div class="pin-container">
  <p class="p-title">PIN kodni yaratish</p>
  <p class="p-des">Agar siz to'satdan kodni unutsangiz, biz sizga shunchaki SMS orqali eslatamiz)</p>
  <ul class="p-items">
    <li class="p-item">
      <input type="text" class="p-input">
    </li>
    <li class="p-item">
      <input type="text" class="p-input">
    </li>
    <li class="p-item">
      <input type="text" class="p-input">
    </li>
    <li class="p-item">
      <input type="text" class="p-input">
    </li>
  </ul>
  <div class="btn-set">
    <div class="btn then">Davom eting</div>
    <div class="btn cansel">Bekor qilish</div>
  </div>
</div>
