.p-block{
  padding: 32px 42px 42px 42px;
  background: #141619;
  border: 1px solid  #25272A8C;
  width: 630px;
  border-radius: 20px;
}
.title{
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 32px;
}
.p-block-main{
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.f-title{
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 12px;
}
.f-item{
  background: #191B1F;
  width: 100%;
  padding: 14px 16px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #919191;
}
.f-icon-t{
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
  cursor: pointer;
}
.f-i-t{
  font-size: 16px;
  color: #919191;
  font-weight: 400;
}
.f-edit{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form-block{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(13, 14, 16, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.round-icon{
  height: 44px;
  width: 44px;
  background: #3A3C4080;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-left: 8px;
  cursor: pointer;
}
.form-container{
  display: flex;
  align-items: flex-start;
}
.f-main-block{
  padding: 48px;
  background: #0D0E10;
  border: 1px solid #25272A8C;
  width: 445px;
  border-radius: 20px;
}
.f-l-title{
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-bottom: 12px;
}
.f-l-des{
  font-size: 18px;
  color: #919191;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}
.f-l-input-b{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}
.f-l-i-title{
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}
.f-l-input{
  background: #191B1F;
  border-radius: 20px;
  width: 100%;
  padding: 14px 16px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}
.btn-set{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.btn{
  border-radius: 50px;
  padding: 14px 32px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.then{
  background: linear-gradient(98.42deg, #5E9B2F 11.48%, #77BC41 93.21%);
}
.cansel{
  border: 1px solid #FFFFFF;
}
.f-p-i-block{
  position: relative;
}
.f-p-icon{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.l-container{
  display: flex;
  justify-content: flex-end;
}
.l-item{
  font-size: 16px;
  font-weight: 400;
  color: #77BC41;
}
.m-b-24{
  margin-bottom: 24px;
}
.f-c-items{
  display: flex;
  margin-bottom: 32px;
  gap: 12px;
}
.f-c-item{
  width: 48px;
  height: 48px;
  padding: 15px 20px;
  border-radius: 20px;
  background: #25272A;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
