<div class="switch-container">
  <div class="container">
    <div class="movie-switch">
      <a routerLink ="/movie/series">
        <div class="s-components s-c-1" routerLinkActive="active-link">Qismlar</div>
      </a>
      <a routerLink="/movie/about">
        <div class="s-components s-c-1" routerLinkActive="active-link">Film haqida</div>
      </a>
      <a routerLink="/movie/actors" >
        <div class="s-components s-c-2" routerLinkActive="active-link">Ijodkorlar va aktyorlar</div>
      </a>
      <a routerLink="/movie/rate">
        <div class="s-components s-c-3" routerLinkActive="active-link">Fikrlar va baholar</div>
      </a>
      <a routerLink="/movie/similar">
        <div class="s-components s-c-4" routerLinkActive="active-link">O’xshash filmlar</div>
      </a>
    </div>
    <app-root></app-root>
  </div>
</div>
