.movie-switch{
  display: flex;
  align-items: center;
  border-radius: 32px;
  background:#141619;
  justify-content: center;
  margin-bottom: 44px;
  width: 100%;
}
.s-components{
  font-size: 18px;
  color: #919191;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: 258px;

}
.s-c-1{
  padding: 8px 108px;
}
.s-c-2{
  padding: 8px 79px;
}
.s-c-3{
  padding: 8px 96px;
}
.s-c-4{
  padding:  8px 99px;
}
.active-link{
  background: #25272A;
  border-radius: 50px;
  color: #ffffff;
}
.switch-container{
  border: 1px solid #3A3C40;
  border-radius: 32px;
  padding: 70px 0;
  background: #030303;
  margin-bottom: 12px;
}

