<div class="block">
  <p class="title">Ajoyib! Siz 3 ta oila a'zongiz uchun profil yaratishingiz, shuningdek, kattalar profilini bolalardan himoya qilishingiz mumkin</p>
  <p class="des">Agar qurilmadan bolalar foydalanishi mumkin bo'lsa, himoyani yoqishni tavsiya qilamiz. Keyin, kattalar profiliga o'tish uchun siz faqat o'zingiz biladigan kodni kiritishingiz kerak bo'ladi.</p>
  <div class="btn-set">
    <a routerLink="/successfully/pin" class="btn cansel">Himoyani yoqish</a>
    <div class="btn then">Keyinroq</div>
  </div>
</div>
<div class="b-img">
  <img src="/assets/kattalar.png" alt="">
</div>
<div class="b-img kids">
  <img src="/assets/kids.png" alt="">
</div>
