.series-card{
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.series-img{
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  line-height: 0;
}
.series-img::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 5px;
  left: 0;
  background: rgba(119, 188, 65, 1);
}

.series-img-item{
  border-radius: 12px 12px 0 0;
  width: 200px;
  height: 112px;
  object-fit: contain;
  position: relative;
  z-index: 1;
}
.series-des{
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 495px) {
  .series-img-item{
    width: 180px;
  }
}
