<div class="movie-h-card">
  <div class="movie-hover">
    <div class="movie-img">
      <img src="/assets/image-film.png" alt="" class="movie-img">
      <div class="movie-des">
        <div class="movie-rate imdb">
          <img src="/assets/IMDb.png" alt="" class="movie-rate-icon">
          <span class="movie-rate-text">7,2</span>
        </div>
        <div class="movie-rate filmSearch">
          <img src="/assets/KinoPoisk.png" alt="" class="movie-rate-icon">
          <span class="movie-rate-text">7,2</span>
        </div>
        <div class="movie-rate neoPlay">
          <img src="/assets/neoPlay.png" alt="" class="movie-rate-icon">
          <span class="movie-rate-text">7,2</span>
        </div>
      </div>
    </div>
    <div class="loading-movie"></div>
  </div>
  <div class="movie-text-block">
    <span class="movie-text">Chiroqni o’chiring</span>
  </div>
</div>
