.error-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: url("/assets/404-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.logo{
  margin-bottom: 132px;
}
.e-logo{
  width: 120px;
  height: 48px;
  object-fit: contain;
}
.error-message-block{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.error-number{
  color:  #5E9B2F;
  font-weight: 600;
  font-size: 120px;
}
.error-des{
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
}
.error-des-text{
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.error-btn{
  width: 100%;
  padding: 14px 32px 14px 32px;
  border-radius: 50px;
  background: linear-gradient(98.42deg, #5E9B2F 11.48%, #77BC41 93.21%);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

@media(max-width: 495px) {
  .error-container{
    padding: 0  70px;
  }
  .logo{
    display: none;
  }
  .error-number{
    font-size: 56px;
  }
  .error-des{
    font-size: 22px;
  }
  .error-des-text{
    font-size: 14px;
  }
  .error-message-block{
    width: 100%;
    gap: 16px;
  }
}
