
<swiper-container #swiper class="swiper" init="false" >
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <div class="app-movie-card"></div>
  </swiper-slide>
</swiper-container>
