<div class="form-block">
  <div class="form-container">
    <div class="f-main-block">
      <p class="f-l-title">Ro'yxatdan o'tishni tasdiqlang</p>
      <p class="f-l-des">Raqamingiz yoki pochtangizga tasdiqlash kodini yubordik, iltimos, ushbu kodni kiriting</p>
      <ul class="f-c-items">
        <li>
          <input type="text" class="f-c-item">
        </li>
        <li>
          <input type="text" class="f-c-item">
        </li>
        <li>
          <input type="text" class="f-c-item">
        </li>
        <li>
          <input type="text" class="f-c-item">
        </li>
        <li>
          <input type="text" class="f-c-item">
        </li>
        <li>
          <input type="text" class="f-c-item">
        </li>
      </ul>
      <div class="btn-set">
        <div class="btn cansel">Tasdiqlash</div>
      </div>
      <div class="f-des-text-b"><span class="f-des-text">Siz 59 soniyadandan so'ng kodni qayta so'rashingiz mumkin</span></div>
    </div>
    <a routerLink="" class="round-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_b_158_36470)">
          <g clip-path="url(#clip0_158_36470)">
            <g clip-path="url(#clip1_158_36470)">
              <path d="M18 6L6 18" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6 6L18 18" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </g>
        </g>
        <defs>
          <filter id="filter0_b_158_36470" x="-12" y="-12" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="6"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_158_36470"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_158_36470" result="shape"/>
          </filter>
          <clipPath id="clip0_158_36470">
            <rect width="24" height="24" rx="12" fill="white"/>
          </clipPath>
          <clipPath id="clip1_158_36470">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </a>
  </div>
</div>
