<div class="kids-container">
  <div class="container">
    <div class="header-s">
      <div class="logo">
        <img src="/assets/logo.png" alt="" class="logo-img">
      </div>
    </div>
  </div>
  <div class="kids-main-block">
    <div class="k-block">
      <div class="round-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_120_13859)">
            <path d="M15 6L9 12L15 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
            <clipPath id="clip0_120_13859">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="kids-year">
        <p class="title">Bola necha yoshda?</p>
        <div class="k-years">
          <div class="y-block">3</div>
          <div class="y-block">6</div>
          <div class="y-block">9</div>
          <div class="y-block active-block">12</div>
        </div>
        <div class="k-btn">O'zgarishlarni saqlash</div>
      </div>
    </div>
  </div>
</div>
