<div class="p-switch-container">
  <div class="p-switch">
    <h1 class="p-switch-title">Sozlamalar</h1>
    <ul class="p-switch-block">
      <a routerLink="/profile/profile-m"><li class="p-switch-item" routerLinkActive="active-link">Profil</li></a>
      <a routerLink="/profile/safety"><li class="p-switch-item" routerLinkActive="active-link">Xavfsizlik</li></a>
      <a routerLink="/profile/payment"><li class="p-switch-item" routerLinkActive="active-link">To'lov va balans</li></a>
      <a routerLink="/profile/devices"><li class="p-switch-item" routerLinkActive="active-link">Qurilmalar</li></a>
    </ul>
  </div>
  <app-root></app-root>
</div>
