<header class="hide" *ngIf="scrolled"  @headerAnimate>
  <div class="header-container">
    <div class="header-main">
      <div class="header-primary" [ngClass]="{'header-with-bg': lastScroll > 150 || showBlock, 'rounded-header': showBlock}">
        <div class="header">
          <div class="h-logo">
            <div class="butter-icon">

            </div>
            <h1 class="h-logo">NeoPLay</h1>
          </div>
          <div class="h-nav">
            <ul class="nav-main">
              <li class="nav-el">Bosh sahifa</li>
              <li class="nav-el">Filmlar</li>
              <li class="nav-el">Seriallar</li>
              <li class="nav-el">Bolalar uchun</li>
              <li class="nav-el">Katalog</li>
            </ul>
          </div>
          <div class="h-profile">
            <div class="round-block"></div>
            <div class="round-block"></div>
            <div class="round-block"></div>
            <div class="round-block"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="footer-main">
      <div class="ads-block"></div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">Bo’limlar</li>
          <li class="f-link"><a href="" class="f-link-el">Bosh sahifa</a></li>
          <li class="f-link"><a href="" class="f-link-el">Kinoteatr</a></li>
          <li class="f-link"><a href="" class="f-link-el">Telekanallar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Telekanallar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Profil</a></li>
        </ul>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">Janrlar</li>
          <li class="f-link"><a href="" class="f-link-el">Jangari</a></li>
          <li class="f-link"><a href="" class="f-link-el">Komediya</a></li>
          <li class="f-link"><a href="" class="f-link-el">Drama</a></li>
          <li class="f-link"><a href="" class="f-link-el">Ko’proq ko’rish</a></li>
        </ul>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">Fikr-mulohazalar</li>
          <li class="f-link"><a href="" class="f-link-el">Bosh sahifa</a></li>
          <li class="f-link"><a href="" class="f-link-el">Savollar va javoblar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Kontaktlar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Maxfiylik siyosati</a></li>
          <li class="f-link"><a href="" class="f-link-el">Foydalanuvchi shartnomasi</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
