<div class="pay-p-container">
  <div class="pay-p-block">
    <div class="pay-main">
      <p class="p-title">Balansni to’ldirish</p>
      <div class="p-p-c">
        <div class="pay-switch">
          <a routerLink="/profile/payment/click" class="p-link">
            <div class="pay-s-item" routerLinkActive="active-link">
              <div class="pay-item">
                <img src="/assets/click.png" alt="" class="pay-i-img">
              </div>
              <div class="cost-block" routerLinkActive="active-link-cost">
                <span class="cost-title">Summa kiriting</span>
                <input type="text" class="cost-input" placeholder="30000">
              </div>
            </div>
          </a>
          <a routerLink="/profile/payment/payMe" class="p-link">
            <div class="pay-s-item" routerLinkActive="active-link">
              <div class="pay-item">
                <img src="/assets/payMe.png" alt="" class="pay-i-img">
              </div>
              <div class="cost-block" routerLinkActive="active-link-cost">
                <span class="cost-title">Summa kiriting</span>
                <input type="text" class="cost-input" placeholder="30000">
              </div>
            </div>
          </a>
          <a routerLink="/profile/payment/card">
            <div class="pay-item" routerLinkActive="active-l">
              <img src="/assets/uzcard_humo_master_visa.png" alt="" class="pay-i-img">
            </div>
          </a>
          <a routerLink="/profile/payment/addCard">
            <div class="pay-item p-f-b" routerLinkActive="active-l">
              <img src="/assets/flus.png" alt="" class="pay-i-img">
              <span class="pay-d-t">Karta qo’shish</span>
            </div>
          </a>
        </div>
        <div class="">
          <app-root></app-root>
        </div>
      </div>
    </div>
    <div class="round-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_b_158_36470)">
          <g clip-path="url(#clip0_158_36470)">
            <g clip-path="url(#clip1_158_36470)">
              <path d="M18 6L6 18" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6 6L18 18" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </g>
        </g>
        <defs>
          <filter id="filter0_b_158_36470" x="-12" y="-12" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="6"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_158_36470"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_158_36470" result="shape"/>
          </filter>
          <clipPath id="clip0_158_36470">
            <rect width="24" height="24" rx="12" fill="white"/>
          </clipPath>
          <clipPath id="clip1_158_36470">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</div>
