<div class="container flex">
  <div class="actors">
    <p class="actor-title">Aktyorlar</p>
    <div class="actors-container">
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="/assets/actor.png" alt="" class="actor-img">
        </div>
        <div class="actor-name">Hyeon Bin</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="/assets/actor-1.png" alt="" class="actor-img">
        </div>
        <div class="actor-name">Yoo Hae-jin</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="/assets/actor-2.png" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
      <a  routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
      <a routerLink="/actor-about" class="actor-block">
        <div class="actor-img-item">
          <img src="" alt="" class="actor-img">
        </div>
        <div class="actor-name">Kim Joo-hyeok</div>
      </a>
    </div>
  </div>
  <div class="director-producer">
    <div class="actors">
      <p class="actor-title">Rejissorlar</p>
      <div class="actors-container">
        <div class="actor-block">
          <div class="actor-img-item">
            <img src="" alt="" class="actor-img">
          </div>
          <div class="actor-name">Kim Joo-hyeok</div>
        </div>
      </div>
    </div>
    <div class="actors">
      <p class="actor-title">Ssenariy mualliflari</p>
      <div class="actors-container">
        <div class="actor-block">
          <div class="actor-img-item">
            <img src="" alt="" class="actor-img">
          </div>
          <div class="actor-name">Kim Joo-hyeok</div>
        </div>
        <div class="actor-block">
          <div class="actor-img-item">
            <img src="" alt="" class="actor-img">
          </div>
          <div class="actor-name">Kim Joo-hyeok</div>
        </div>
      </div>
    </div>
    <div class="actors">
      <p class="actor-title">Prodyuserlar</p>
      <div class="actors-container">
        <div class="actor-block">
          <div class="actor-img-item">
            <img src="" alt="" class="actor-img">
          </div>
          <div class="actor-name">Kim Joo-hyeok</div>
        </div>
        <div class="actor-block">
          <div class="actor-img-item">
            <img src="" alt="" class="actor-img">
          </div>
          <div class="actor-name">Kim Joo-hyeok</div>
        </div>
      </div>
    </div>
  </div>
</div>
