.season-item{
  padding: 9px 32px;
  border-radius: 50px;
  color: #ffffff;
  background:#25272A8C;
}
.season-container{
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}
.series-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
