<div class="season-container">
  <button class="season-item">1-mavsum</button>
  <button class="season-item">2-mavsum</button>
</div>
<div class="series-container">
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
  <div class="app-series-card"></div>
</div>

