.title-text{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-i-left{
  border-radius: 16px;
  padding: 12px;
  background: #3A3C4080;
  cursor: pointer;
}
.nav-icon{
  display: flex;
  gap: 6px;
}
.swiper-h{
  margin-bottom: 70px;
  padding-top: 24px;
}
.app-movie-card-h{
  transition: all .3s;
  z-index: -2;
}
.swiper-slide:hover .app-movie-card-h{
  transform-origin:bottom center;
  transform: scale(1.1);
  transition: all .3s;
  z-index: 5;
  position: absolute;
}
@media (max-width: 495px){
  .title{
    display: none;
  }
  .swiper-h{
    margin: 0;
    padding: 0;
  }
}
