.title-text{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-i-left{
  border-radius: 16px;
  padding: 12px;
  background: #3A3C4080;
  cursor: pointer;
}
.nav-icon{
  display: flex;
  gap: 6px;
}
.swiper-h{
  padding: 160px 0;
  margin: -176px 0 105px;
}
@media (max-width: 495px){
  .title{
    display: none;
  }
  .swiper-h{
    margin: 0;
    padding: 0;
  }
}
