.banner-main{
  position: relative;
  /*height: 700px;*/
}
.banner-title{
  width: 484px;
  height: 100%;
  object-fit: contain;
  margin-bottom: 32px;
}
.banner-main::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.76) 26.84%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}
.banner-cinema{
  width: 100%;
  height: 100%;
  background: #000000;
}
.banner-img-block{
  width: 100%;
  height: 100%;
}

.banner-img{
  width: 100%;
  object-fit: contain;
}
.banner-des{
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.banner-text{
  width: 52%;
}
.banner-item-des{
  position: absolute;
  bottom: 70px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.banner-container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.banner-btn{
  display: flex;
  margin-top: 32px;
  gap: 12px;
}
.banner-btn-set{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.banner-btn-item{
  padding: 14px 32px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50px;
  background: #25272A;
  display: flex;
  gap: 10px;
  align-items: center;
}

.movie-view{
  padding: 14px 32px 14px 26px;
  background: linear-gradient(98.42deg, #5E9B2F 11.48%, #77BC41 93.21%);
  transition: all .3s;
}
.movie-view:hover{
  background: linear-gradient(308.42deg,#77BC41 93.21%, #5E9B2F 11.48%);
  transition: all .3s;
}
.round-icon{
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.round-block{
  padding: 10px 10px;
  border-radius: 50%;
  background: #25272A8C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.volume{
  height: 44px;
}
.banner-des-rate{
  display: flex;
  align-content: center;
  margin-bottom: 16px;
  gap: 8px;
}
.banner-rate-block{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px 8px 12px;
  border-radius: 12px;
  background: #25272A;
}
.banner-rate{
  font-size: 14px;
  font-weight: 400;
  color: #D3D3D4;
}
.movie-switch{
  display: flex;
  align-items: center;
  border-radius: 32px;
  background:#141619;
  justify-content: center;
  margin-bottom: 44px;
}
.s-components{
  font-size: 18px;
  color: #919191;
  padding: 8px 0;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.s-c-1{
  padding: 8px 108px;
}
.s-c-2{
  padding: 8px 79px;
}
.s-c-3{
  padding: 8px 96px;
}
.s-c-4{
  padding:  8px 99px;
}
.active-link{
  background: #25272A;
  border-radius: 50px;
  color: #ffffff;
}
.switch-container{
  border: 1px solid #3A3C40;
  border-radius: 32px;
  padding: 70px 0;
  background: #030303;
}



.movie-container{
  border: 1px solid #3A3C40;
  border-radius: 32px;
  padding: 70px 0;
  background: #0D0E10;
  margin-bottom: 12px;
}

.movie-container:last-child {
  margin-bottom: 70px;
}


/**/

.title-text{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-i-left{
  border-radius: 16px;
  padding: 12px;
  background: #3A3C4080;
  cursor: pointer;
}
.nav-icon{
  display: flex;
  gap: 6px;
}
.swiper{
  margin-bottom: 70px;
  padding-top: 24px;
}



/*switch*/
.movie-switch{
  display: flex;
  align-items: center;
  border-radius: 32px;
  background:#141619;
  justify-content: center;
  margin-bottom: 44px;
  width: 100%;
}
.s-components{
  font-size: 18px;
  color: #919191;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: 258px;

}
.s-c-1{
  padding: 8px 108px;
}
.s-c-2{
  padding: 8px 79px;
}
.s-c-3{
  padding: 8px 96px;
}
.s-c-4{
  padding:  8px 99px;
}
.active-link{
  background: #25272A;
  border-radius: 50px;
  color: #ffffff;
}
.switch-container{
  border: 1px solid #3A3C40;
  border-radius: 32px;
  padding: 70px 0;
  background: #030303;
  margin-bottom: 12px;
}
/*switch*/

/*about*/
.about-movie{
  display: flex;
  align-content: flex-start;
}
.a-img-block{
  margin-right: 40px;

}
.name-movie{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 8px;
}
.about-des{
  display: flex;
  flex-direction: column;
}
.about-title{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.des-movie{
  font-size: 16px;
  font-weight: 400;
  width: 680px;
  color: #919191;
  margin-bottom: 16px;
}
.more-btn{
  background: #25272A;
  border-radius: 20px;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 400;
  color: #919191;
  display: flex;
  width: 310px;
  justify-content: center;
  align-content: center;
}
.g-title{
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.genre{
  display: flex;
}
.genre-simple{
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.g-items{
  display: flex;
  align-content: center;
  gap: 8px;
}
.g-item{
  margin-top: 16px;
  background: #191B1F;
  padding: 8px 12px;
  color: #919191;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  gap: 6px;
  display: flex;
  align-content: center;
}
.genre-1{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.platforms-items{
  width: 70%;
  flex-wrap: wrap;
}
.mar-def{
  margin: 0px;
}
/*about*/
/*actors*/
.actors{
  margin-bottom: 70px;
}
.actors-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.actor-title{
  font-size:28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 24px;
}
.actor-block{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.actor-img-item{
  width: 146px;
  height: 146px;
  border-radius: 50%;
  margin-bottom: 12px;
  background:#191B1F;
}
.actor-img{
  width: 100%;
  object-fit: contain;
}
.actor-name{
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.flex{
  display: flex;
  flex-direction: column;
}
.director-producer{
  display: flex;
  gap: 70px;
}

/*actors*/

/*rate*/
.rate-container{
  display: flex;
  gap: 40px;
}
.comment{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.rate-w{
  width: 50%;
}
.rate-w-main{
  background: #0D0E10;
  border: 1px solid  #25272A8C;
  padding: 26px 20px 20px 20px;
  gap: 32px;
  border-radius: 20px;
}
.rate-title{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 24px;
}
.comment-card{
  width: 48%;
  gap: 12px;
  display: flex;
  flex-direction: column;
  background: #0D0E10;
  border: 1px solid #25272A8C;
  padding: 26px 20px 20px 20px;
  border-radius: 20px;
}
.comment-text{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.comment-name{
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.rate-title-text{
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.rate-stars-main{
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.rate-star{
  display: flex;
  align-items: center;
  gap: 8px;
}
.stars-icon-r{
  width: 28px;
  height: 28px;
  fill: #F99E17;
  stroke: #F99E17;
}
.stars-icon-r__stroke{
  stroke: #F99E17;
}
.stars-block{
  display: flex;
  gap: 8px;
}
.stars{
  padding: 12px;
  border-radius: 50%;
  background: #25272A;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
.stars-icon{
  stroke: #919191;
  transition: all .3s;
}
.stars-icon-active{
  fill: #F99E17;
  stroke: #F99E17;
  transition: all .3s;
}
.w-comment-text{
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.w-comment-area{
  border-radius: 20px;
  border: 1px solid #25272A;
  padding: 16px;
  width: 100%;
  font-family: sans-serif, "SFNS Display";
  background: #191B1F;
  resize: none;
  outline: none;
  font-size: 16px;
  color: #919191;
  font-weight: 400;
  margin-bottom: 16px;
}
.w-comment-send{
  padding: 14px 32px;
  background: #77BC41;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
}
/*rate*/
.pc-none{
  display: none;
}

@media (max-width: 495px) {
  .banner-main{
    width: 100%;
    background: #0D0E10;
    padding-bottom: 32px;
    border-radius: 32px;
    margin-top: 84px;
  }
  .banner-des{
    display: none;
  }
  .banner-item-des{
    position: static;
    width: 100%;
  }
  .banner-main::after{
    display: none;
  }
  .banner-title{
    width: 176px;
    margin: 0;
    padding: 18px 0;
  }
  .banner-title-block{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.76) 26.84%, rgba(0, 0, 0, 0) 100%);
    border-radius: 32px;
  }
  .banner-btn-item{
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0 8px 0;
  }
  .banner-container{
    width: 100%;
  }
  .banner-text{
    width: 100%;
  }
  .banner-btn{
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .banner-img-block{
    position: relative;
  }
  .banner-img{
    border-radius: 32px 32px 0 0;
  }
  .volume{
    position: absolute;
    top: 12px;
    display: flex;
    right: 20px;
    backdrop-filter: blur(3px);
  }
  .d-none{
    display: none;
  }

  .a-img-block{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .a-img-item{
    width: 200px;
    object-fit: contain;
  }
  .name-movie{
    font-size: 20px;
  }
  .g-title{
    font-size: 14px;
  }
  .g-item{
    font-size: 12px;
    margin-top: 8px;
    align-items: center;
  }
  .more-btn{
    width: 100%;
  }
  .banner-rate{
    font-size: 12px;
  }
  .genre{
    flex-direction: column;
  }
  .movie-switch{
    overflow: scroll;
    margin-bottom: 24px;
  }
  .movie-switch::-webkit-scrollbar{
   display: none;
  }
  .s-components{
    width: 124px;
    font-size: 12px;
  }
  .switch-container{
    padding-top:24px;
  }
  .banner-text{
    display: flex;
    flex-direction: column-reverse;
  }
  .trailer{
    display: none;
  }
  .banner-des-rate{
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
  }




  .about-movie{
    flex-direction: column;
  }
  .des-movie{
    width: 100%;
  }
  .director-producer{
    flex-direction: column;
  }
  .actor-title{
    font-size: 18px;
    margin-bottom: 16px;
  }
  .actor-img-item{
    width: 60px;
    height: 60px;
  }
  .actor-block{
    width: 60px;
    overflow: hidden;
  }
  .actor-name{
    font-size: 12px;
  }
  .rate-container{
    flex-direction: column;
  }
  .actors{
    margin-bottom: 24px;
  }
  .director-producer{
    gap: 24px;
  }
  .rate-title{
    font-size: 20px;
  }
  .comment{
    width: 100%;
  }
  .comment-card{
    width: 100%;
  }
  .rate-w{
    width: 100%;
  }
  .comment-text{
    font-size: 14px;
  }
  .comment-name{
    font-size: 14px;
  }
  .rate-title-text{
    font-size: 20px;
  }
  .stars-icon{
    width: 20px;
    height: 20px;
  }
  .stars{
    width: 40px;
    padding: 0;
    height: 40px;
  }
  .w-comment-text{
    display: none;
  }
  .w-comment-send{
    padding: 12px 32px;
    font-size: 14px;
  }
  .stars-icon-r{
    width: 20px;
    height: 20px;
  }
  .films_container{
    margin-top: 12px;
  }
}
