<div class="main-container">
  <div class="l-container">
    <div class="l-block">
      <div class="l-switch">
        <a routerLink="/login/singIn" class="l-s-block" routerLinkActive="active-link">Kirish</a>
        <a routerLink="/login/singUp" class="l-s-block" routerLinkActive="active-link">Ro’yxatdan o’tish</a>
      </div>
      <app-root></app-root>
    </div>
    <a routerLink="" class="cansel-btn">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_b_120_13497)">
          <g clip-path="url(#clip0_120_13497)">
            <g clip-path="url(#clip1_120_13497)">
              <path d="M18 6L6 18" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6 6L18 18" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </g>
        </g>
        <defs>
          <filter id="filter0_b_120_13497" x="-12" y="-12" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="6"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_120_13497"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_120_13497" result="shape"/>
          </filter>
          <clipPath id="clip0_120_13497">
            <rect width="24" height="24" rx="12" fill="white"/>
          </clipPath>
          <clipPath id="clip1_120_13497">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </a>
  </div>
</div>
