.block{
  width: 445px;
  border-radius: 20px;
  background: #141619;
  border: 1px solid #25272A8C;
  padding: 40px;
}
.title{
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 12px;
  text-align: center;
}
.des{
  font-size: 18px;
  color: #D5D5E1;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}
.btn-set{
  display: flex;
  gap: 16px ;
  flex-direction: column;
}
.btn{
  border-radius: 50px;
  padding: 14px 32px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.then{
  background: linear-gradient(98.42deg, #5E9B2F 11.48%, #77BC41 93.21%);
}
.cansel{
  border: 1px solid #FFFFFF;
}
