/*.movie-card:hover.movie-des{*/
/*  transform: translateY(-100%);*/
/*  transition: all .3s;*/
/*}*/
.movie-card {
  position: relative;
  transform-origin: center;
  transition: all .3s;
  z-index: 0;
}

/*.movie-img-main*/
.movie-card:hover  {
  transform: scale(1.3);
  z-index: 99;
}
/*.movie-card:hover .movie-img-main::after{*/
/*  opacity: 1;*/
/*  z-index: 99;*/
/*  top: -49%;*/
/*}*/
.movie-img-main{
  transition: all .3s;
  position: relative;
}
.movie-card{
  width: 220px;
  cursor: pointer;
}
.movie-img-main{
  position: relative;
  border: 1px solid #25272A8C;
  border-radius: 20px;
}
.movie-img-item{
  object-fit: cover;
  width: 220px;
  height: 100%;
  border-radius: 20px;
}
.movie-des{
  position: absolute;
  top: 12px;
  left: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.movie-rate{
  border-radius: 12px;
  height: 28px;
  padding: 4px 6px;
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-rate-text{
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}

.imdb{
  background: #EDBC0C;
}
.filmSearch{
  background: #FF5500;
}
.neoPlay{
  background: #77BC41;
}
.movie-text{
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.mobi-rate{
  display: none;
}
@media (max-width: 495px) {
  .movie-rate{
    display: none;
  }
  .mobi-rate{
    display: flex;
    background: #0E1621A6;
    padding: 2px 4px 2px 2px;
    border-radius: 12px;
    gap: 4px;
  }
  .mobi-r-text{
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  .movie-card{
    width: 120px;
  }
  .movie-img-item{
    width: 120px;
  }
  .movie-text{
    font-size: 14px;
    font-weight: 400;
  }
}
