<div class="movie-card">
  <div class="movie-img-main">
    <div class="movie-img">
      <img src="/assets/image.png" alt=""  class="movie-img-item">
      <div class="movie-des">
        <div class="mobi-rate">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.00005 9.58613L8.76671 11.2595C9.27338 11.5661 9.89338 11.1128 9.76005 10.5395L9.02672 7.3928L11.4734 5.2728C11.92 4.88614 11.68 4.1528 11.0934 4.10613L7.87338 3.8328L6.61338 0.859468C6.38671 0.319468 5.61338 0.319468 5.38671 0.859468L4.12671 3.82613L0.906715 4.09947C0.320048 4.14613 0.0800484 4.87947 0.526715 5.26613L2.97338 7.38613L2.24005 10.5328C2.10672 11.1061 2.72671 11.5595 3.23338 11.2528L6.00005 9.58613Z" fill="white"/>
          </svg>
          <p class="mobi-r-text">4,6</p>
        </div>
        <div class="movie-rate imdb">
          <img src="/assets/IMDb.png" alt="" class="movie-rate-icon">
          <span class="movie-rate-text">7,2</span>
        </div>
        <div class="movie-rate filmSearch">
          <img src="/assets/KinoPoisk.png" alt="" class="movie-rate-icon">
          <span class="movie-rate-text">7,2</span>
        </div>
        <div class="movie-rate neoPlay">
          <img src="/assets/neoPlay.png" alt="" class="movie-rate-icon">
          <span class="movie-rate-text">7,2</span>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-text-block">
    <span class="movie-text">Portlash koreya filmi</span>
  </div>
</div>
