.banner-main{
  position: relative;
  /*height: 700px;*/
}
.banner-title{
  width: 484px;
  height: 100%;
  object-fit: contain;
  margin-bottom: 32px;
}
.banner-main::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.76) 26.84%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}
.banner-cinema{
  width: 100%;
  height: 100%;
  background: #000000;
}
.banner-img-block{
  width: 100%;
  height: 100%;
}
.banner-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-des{
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.banner-text{
  width: 52%;
}
.banner-item-des{
  position: absolute;
  bottom: 70px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.banner-container{
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.banner-btn{
  display: flex;
  margin-top: 32px;
  gap: 12px;
}
.banner-btn-set{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.banner-btn-item{
  padding: 14px 32px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50px;
  background: #25272A;
  display: flex;
  gap: 10px;
  align-items: center;
}

.movie-view{
  padding: 14px 32px 14px 26px;
  background: linear-gradient(98.42deg, #5E9B2F 11.48%, #77BC41 93.21%);
  transition: all .3s;
}
.movie-view:hover{
  background: linear-gradient(308.42deg,#77BC41 93.21%, #5E9B2F 11.48%);
  transition: all .3s;
}
.round-icon{
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.round-block{
  padding: 10px 10px;
  border-radius: 50%;
  background: #25272A8C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.volume{
  height: 44px;
}
.category-block{
  margin: 70px 0;
  display: flex;
  flex-direction: column;
}
.category-title{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}
.category-btn-b{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.category-item{
  padding: 0 26px 0 20px;
  height: 68px;
  border-radius: 16px;
  background: #191B1F;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.category-text{
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
}
.category-icon{
  width: 28px;
  height: 28px;
  fill: #ffffff;
}
