<div class="catalog-container__mobi">
  <div class="container">
    <div class="catalog-container">
      <div class="title">
        <h1 class="title-text">Katalog</h1>
      </div>
      <div class="catalog-items">
        <div class="card">
          <div class="catalog-card bg">
            <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
          </div>
          <div class="catalog-card-des">
            <p class="catalog-name mobi_none">Jangari</p>
            <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
          </div>
          <div class="mobi_des">
            <p class="catalog-card-des__name-category">Jangari</p>
            <div class="catalog-card-des__icon">
              <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="catalog-card bg">
            <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
          </div>
          <div class="catalog-card-des">
            <p class="catalog-name mobi_none">Jangari</p>
            <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
          </div>
          <div class="mobi_des">
            <p class="catalog-card-des__name-category">Jangari</p>
            <div class="catalog-card-des__icon">
              <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="catalog-card bg">
            <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
          </div>
          <div class="catalog-card-des">
            <p class="catalog-name mobi_none">Jangari</p>
            <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
          </div>
          <div class="mobi_des">
            <p class="catalog-card-des__name-category">Jangari</p>
            <div class="catalog-card-des__icon">
              <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="catalog-card bg">
            <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
          </div>
          <div class="catalog-card-des">
            <p class="catalog-name mobi_none">Jangari</p>
            <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
          </div>
          <div class="mobi_des">
            <p class="catalog-card-des__name-category">Jangari</p>
            <div class="catalog-card-des__icon">
              <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="catalog-card bg">
            <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
          </div>
          <div class="catalog-card-des">
            <p class="catalog-name mobi_none">Jangari</p>
            <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
          </div>
          <div class="mobi_des">
            <p class="catalog-card-des__name-category">Jangari</p>
            <div class="catalog-card-des__icon">
              <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="catalog-card bg">
            <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
          </div>
          <div class="catalog-card-des">
            <p class="catalog-name mobi_none">Jangari</p>
            <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
          </div>
          <div class="mobi_des">
            <p class="catalog-card-des__name-category">Jangari</p>
            <div class="catalog-card-des__icon">
              <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="catalog-card bg">
            <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
          </div>
          <div class="catalog-card-des">
            <p class="catalog-name mobi_none">Jangari</p>
            <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
          </div>
          <div class="mobi_des">
            <p class="catalog-card-des__name-category">Jangari</p>
            <div class="catalog-card-des__icon">
              <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="catalog-card bg">
            <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
          </div>
          <div class="catalog-card-des">
            <p class="catalog-name mobi_none">Jangari</p>
            <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
          </div>
          <div class="mobi_des">
            <p class="catalog-card-des__name-category">Jangari</p>
            <div class="catalog-card-des__icon">
              <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="catalog-card bg">
            <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
          </div>
          <div class="catalog-card-des">
            <p class="catalog-name mobi_none">Jangari</p>
            <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
          </div>
          <div class="mobi_des">
            <p class="catalog-card-des__name-category">Jangari</p>
            <div class="catalog-card-des__icon">
              <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
