<div class="container">
  <div class="catalog-container">
    <div class="title">
      <h1 class="title-text">Katalog</h1>
    </div>
    <div class="catalog-items">
      <div class="card">
        <div class="catalog-card bg">
          <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
        </div>
        <div class="catalog-card-des">
          <p class="catalog-name">Jangari</p>
          <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
        </div>
      </div>
      <div class="card">
        <div class="catalog-card bg">
          <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
        </div>
        <div class="catalog-card-des">
          <p class="catalog-name">Jangari</p>
          <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
        </div>
      </div>
      <div class="card">
        <div class="catalog-card bg">
          <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
        </div>
        <div class="catalog-card-des">
          <p class="catalog-name">Jangari</p>
          <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
        </div>
      </div>
      <div class="card">
        <div class="catalog-card bg">
          <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
        </div>
        <div class="catalog-card-des">
          <p class="catalog-name">Jangari</p>
          <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
        </div>
      </div>
      <div class="card">
        <div class="catalog-card bg">
          <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
        </div>
        <div class="catalog-card-des">
          <p class="catalog-name">Jangari</p>
          <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
        </div>
      </div>
      <div class="card">
        <div class="catalog-card bg">
          <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
        </div>
        <div class="catalog-card-des">
          <p class="catalog-name">Jangari</p>
          <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
        </div>
      </div>
      <div class="card">
        <div class="catalog-card bg">
          <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
        </div>
        <div class="catalog-card-des">
          <p class="catalog-name">Jangari</p>
          <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
        </div>
      </div>
      <div class="card">
        <div class="catalog-card bg">
          <img src="/assets/fade92f7ea0c4a9d19558d9ae0ee1e3b.png" alt="" class="catalog-img-b">
        </div>
        <div class="catalog-card-des">
          <p class="catalog-name">Jangari</p>
          <img src="/assets/catalog-img.png" alt="" class="catalog-img-item">
        </div>
      </div>
    </div>
  </div>
</div>
