<div class="container">
  <div class="sub-container">
    <p class="title">O’zingizga mos obunani tanlang</p>
    <div class="sub-blocks">
      <div class="sub-b">
        <div class="s-title-b">
          <p class="s-title-text">Obuna 22</p>
        </div>
        <div class="s-body">
          <p class="s-body-des">Filmlar, seriallar va boshqa ko‘p narsalarni cheklovlarsiz tomosha qiling. Yangilangan kontent bazasiga bitta obuna bilan ulaning</p>
          <div class="s-body-text-block">
            <div class="s-b-text-b-item">
              <div class="s-b-t-title">
                <div class="s-b-t-img">
                  <img src="/assets/check-g.png" alt="" class="">
                </div>
                <p class="s-b-title-b">5 tagacha profil</p>
              </div>
              <p class="s-b-body-text">Har bir oila a'zosi uchun profillarni alohida ochishingiz mumkin</p>
            </div>
            <div class="s-b-text-b-item">
              <div class="s-b-t-title">
                <div class="s-b-t-img">
                  <img src="/assets/check-g.png" alt="" class="">
                </div>
                <p class="s-b-title-b">Har qanday qurilmada</p>
              </div>
              <p class="s-b-body-text">Sevimli serial va filmlaringizni istalgan qurilmada tomosha qilishingiz mumkin</p>
            </div>
            <div class="s-b-text-b-item">
              <div class="s-b-t-title">
                <div class="s-b-t-img">
                  <img src="/assets/check-g.png" alt="" class="">
                </div>
                <p class="s-b-title-b">3 tagacha qurilma</p>
              </div>
              <p class="s-b-body-text">Siz bir vaqtning o'zida 3 ta qurilmada tomosha qilishingiz mumkin</p>
            </div>
          </div>
          <div class="s-price-block">
            <p class="s-p-title">Obuna narxi oyiga: </p>
            <p class="s-p-body">21,890 so’m</p>
          </div>
          <div class="s-check mar-t">
            <div class="s-check-b">
              <input type="checkbox" class="s-check-b-item">
            </div>
            <p class="s-check-text">Shartnoma shartlariga roziman</p>
          </div>
          <div class="s-buy-btn">Obunani 21,890 so’mga sotib olish</div>
        </div>
      </div>
      <div class="sub-b">
        <div class="s-title-b bg-g">
          <p class="s-title-text">Konstruktor</p>
        </div>
        <div class="s-body">
          <p class="s-body-des">Bu obuna paketi sizga aynan kerakli ko’rsatuv, film va seriallar uchun to’lovni amalga oshirishga hamda mablag’ingizni tejashga yordam beradi.</p>
          <div class="s-container-check">
            <div class="s-check">
              <div class="s-check-b">
                <input type="checkbox" class="s-check-b-item">
              </div>
              <p class="s-check-text">Menga filmlar kerak</p>
            </div>
            <div class="s-check">
              <div class="s-check-b">
                <input type="checkbox" class="s-check-b-item">
              </div>
              <p class="s-check-text">Menga seriallar kerak</p>
            </div>
            <div class="s-check">
              <div class="s-check-b">
                <input type="checkbox" class="s-check-b-item">
              </div>
              <p class="s-check-text">Menga multfilmlar kerak</p>
            </div>
            <div class="s-check">
              <div class="s-check-b">
                <input type="checkbox" class="s-check-b-item">
              </div>
              <p class="s-check-text">Menga ko'rsatuvlar kerak</p>
            </div>
            <div class="s-check">
              <div class="s-check-b">
                <input type="checkbox" class="s-check-b-item">
              </div>
              <p class="s-check-text">"Obuna 22" paketi ichida</p>
            </div>
            <div class="s-check">
              <div class="s-check-b">
                <input type="checkbox" class="s-check-b-item">
              </div>
              <p class="s-check-text">"Setanta Sports” paketi ichida</p>
            </div>
          </div>
          <div class="s-price-block">
            <p class="s-p-title">Obuna narxi oyiga: </p>
            <p class="s-p-body">9,991 so’m</p>
          </div>
          <div class="s-check mar-t">
            <div class="s-check-b">
              <input type="checkbox" class="s-check-b-item">
            </div>
            <p class="s-check-text">Shartnoma shartlariga roziman</p>
          </div>
          <div class="s-buy-btn bg-g">Obunani 9,991 so’mga sotib olish</div>
        </div>
      </div>
      <div class="sub-b">
        <div class="s-title-b">
          <p class="s-title-text">Setanta Sports</p>
        </div>
        <div class="s-body">
          <p class="s-body-des">Setanta Sports butun dunyodagi eng yirik futbol ligalari va eng mashhur sport musobaqalarini jonli yoritishni ta’minlaydi</p>
          <div class="s-body-text-block">
            <div class="s-b-text-b-item">
              <div class="s-b-t-title">
                <div class="s-b-t-img">
                  <img src="/assets/check-g.png" alt="" class="">
                </div>
                <p class="s-b-title-b">5 tagacha profil</p>
              </div>
              <p class="s-b-body-text">Har bir oila a'zosi uchun profillarni alohida ochishingiz mumkin</p>
            </div>
            <div class="s-b-text-b-item">
              <div class="s-b-t-title">
                <div class="s-b-t-img">
                  <img src="/assets/check-g.png" alt="" class="">
                </div>
                <p class="s-b-title-b">Har qanday qurilmada</p>
              </div>
              <p class="s-b-body-text">Sevimli serial va filmlaringizni istalgan qurilmada tomosha qilishingiz mumkin</p>
            </div>
            <div class="s-b-text-b-item">
              <div class="s-b-t-title">
                <div class="s-b-t-img">
                  <img src="/assets/check-g.png" alt="" class="">
                </div>
                <p class="s-b-title-b">3 tagacha qurilma</p>
              </div>
              <p class="s-b-body-text">Siz bir vaqtning o'zida 3 ta qurilmada tomosha qilishingiz mumkin</p>
            </div>
          </div>
          <div class="s-price-block">
            <p class="s-p-title">Obuna narxi oyiga: </p>
            <p class="s-p-body">12,980 so’m</p>
          </div>
          <div class="s-check mar-t">
            <div class="s-check-b">
              <input type="checkbox" class="s-check-b-item">
            </div>
            <p class="s-check-text">Shartnoma shartlariga roziman</p>
          </div>
          <div class="s-buy-btn">Obunani 21,890 so’mga sotib olish</div>
        </div>
      </div>
    </div>
  </div>
</div>
