<div class="container">
  <div class="sub-container">
    <p class="title">O’zingizga mos obunani tanlang</p>
    <div class="sub-blocks">
      <div class="sub-b">
        <div class="s-title-b">
          <p class="s-title-text">Obuna 22</p>
        </div>
        <div class="s-body">
          <p class="s-body-des">Filmlar, seriallar va boshqa ko‘p narsalarni cheklovlarsiz tomosha qiling. Yangilangan kontent bazasiga bitta obuna bilan ulaning</p>
        </div>
      </div>
    </div>
  </div>
</div>
