<header class="hide" *ngIf="scrolled"  @headerAnimate>
  <div class="header-container">
    <div class="header-main">
      <div class="header-primary" [ngClass]="{'header-with-bg': lastScroll > 150 || showBlock, 'rounded-header': showBlock}">
        <div class="header">
          <div class="h-logo">
            <div class="round-block">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="round-icon">
                <path d="M20 6L4 6" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M20 12L4 12" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M20 18H4" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
            <a routerLink="" class="h-logo-item">
              <img src="/assets/logo.png" alt="" class="h-logo-item">
            </a>
          </div>
          <div class="h-nav">
            <ul class="nav-main">
              <a routerLink=""><li class="nav-el">Bosh sahifa</li></a>
              <a routerLink="/movie-page"><li class="nav-el" routerLinkActive="a-link">Filmlar</li></a>
              <a routerLink="error"><li class="nav-el">Seriallar</li></a>
              <a routerLink="error"><li class="nav-el">Bolalar uchun</li></a>
              <a routerLink="/catalog"><li class="nav-el" routerLinkActive="a-link">Katalog</li></a>
            </ul>
          </div>
          <div class="h-profile">
            <div class="round-block">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11" cy="11" r="8" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.5 16.958L21.5 21.958" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="round-block">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 7C5 4.79086 6.79086 3 9 3H15C17.2091 3 19 4.79086 19 7V20.1683C19 20.9595 18.1248 21.4373 17.4592 21.0095L13.0815 18.1953C12.4227 17.7717 11.5773 17.7717 10.9185 18.1953L6.54076 21.0095C5.87525 21.4373 5 20.9595 5 20.1683V7Z" stroke="#D3D3D4" stroke-width="1.5"/>
                <path d="M9 8.5H15" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="lang-switch-block" (click)="switchLang = !switchLang">
              <div class="lang-switch">
                <div class="flag-block">
                  <img src="/assets/flag.png" alt="" class="flag-item">
                </div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_336_16298)">
                    <path d="M6 9L12 15L18 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_336_16298">
                      <rect width="24" height="24" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="other-lang-container" *ngIf="switchLang">
                <div class="other-lang active-lang">
                  <img src="/assets/flag.png" alt="" >
                </div>
                <div class="other-lang">
                  <img src="/assets/russ-flag.png" alt="" >
                </div>
              </div>
            </div>
            <div class="round-block profile-block" (click)="menu = !menu">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" transform="matrix(-1 0 0 1 16 3)" stroke="#FFF0F1" stroke-width="1.5"/>
                <path d="M5 16.9347C5 16.0743 5.54085 15.3068 6.35109 15.0175V15.0175C10.004 13.7128 13.996 13.7128 17.6489 15.0175V15.0175C18.4591 15.3068 19 16.0743 19 16.9347V18.2502C19 19.4376 17.9483 20.3498 16.7728 20.1818L15.8184 20.0455C13.2856 19.6837 10.7144 19.6837 8.18162 20.0455L7.22721 20.1818C6.0517 20.3498 5 19.4376 5 18.2502V16.9347Z" stroke="#FFF0F1" stroke-width="1.5"/>
              </svg>
              <span class="p-text">Kirish</span>
            </div>
          </div>
        </div>
        <div class="menu-bar" *ngIf="menu">
          <ul class="menu-list">
            <li class="menu-list-item">
              <div class="m-l-item">
                <img src="/assets/ava.png" alt="" class="list-img">
                <p class="l-text">Saidalixon Sobirov</p>
                <div class="l-icon">
                  <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 7L7.21905 1.66939C7.66844 1.2842 8.33156 1.2842 8.78095 1.66939L15 7" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                  </svg>
                </div>
              </div>
              <ul class="menu-list-l">
                <li class="menu-list-item-l">
                  <a routerLink="/profile" class="m-l-item-little">
                    <img src="/assets/ava.png" alt="" class="list-img-l">
                    <p class="l-text">Saidalixon Sobirov</p>
                    <div class="l-icon">
                      <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                      </svg>
                    </div>
                  </a>
                </li>
                <li class="menu-list-item-l">
                  <a routerLink="/error" class="m-l-item-little">
                    <img src="/assets/ava-kids.png" alt="" class="list-img-l">
                    <p class="l-text">Bolalar uchun</p>
                    <div class="l-icon">
                      <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                      </svg>
                    </div>
                  </a>
                </li>
                <li class="menu-list-item-l">
                  <a routerLink="" class="m-l-item-little">
                    <img src="/assets/user.png" alt="" class="list-img-l">
                    <p class="l-text">Hisob qo’shish</p>
                  </a>
                </li>
                <li class="menu-list-item-l">
                  <a routerLink="/login" class="m-l-item-little">
                    <img src="/assets/log-out.png" alt="" class="list-img-l">
                    <p class="l-text">Profildan chiqish</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-list-other">
              <a routerLink="" class="menu-list-o-item">
                <img src="/assets/Bell.png" alt="" class="m-l-o-img">
                <p class="l-text">Bildirishnomalar</p>
              </a>
            </li>
            <li class="menu-list-other">
              <a routerLink="" class="menu-list-o-item">
                <img src="/assets/Bookmark-2.png" alt="" class="m-l-o-img">
                <p class="l-text">Tanlangan filmlar</p>
              </a>
            </li>
            <li class="menu-list-other">
              <a routerLink="" class="menu-list-o-item">
                <img src="/assets/Frame.png" alt="" class="m-l-o-img">
                <p class="l-text">Obunalar</p>
              </a>
            </li>
            <li class="menu-list-other">
              <a routerLink="" class="menu-list-o-item">
                <img src="/assets/Setting.png" alt="" class="m-l-o-img">
                <p class="l-text">Sozlamalar</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="footer-main">
      <div class="ads-block">
        <span class="ads-title">
          Qurilmangiz uchun dasturimizni yuklab oling:
        </span>
        <div class="ads-platforms">
          <div class="ads-platforms-1">
             <div class="ads-p">
               <img src="/assets/playMarket.png" alt="" class="ads-p-icon">
             </div>
             <div class="ads-p">
               <img src="/assets/appleStore.png" alt="" class="ads-p-icon">
             </div>
          </div>
          <div class="ads-platforms-2">
            <img src="/assets/OnTv.png" alt="" class="ads-p-icon">
          </div>
        </div>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">Bo’limlar</li>
          <li class="f-link"><a href="" class="f-link-el">Bosh sahifa</a></li>
          <li class="f-link"><a href="" class="f-link-el">Kinoteatr</a></li>
          <li class="f-link"><a href="" class="f-link-el">Telekanallar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Telekanallar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Profil</a></li>
        </ul>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">Janrlar</li>
          <li class="f-link"><a href="" class="f-link-el">Jangari</a></li>
          <li class="f-link"><a href="" class="f-link-el">Komediya</a></li>
          <li class="f-link"><a href="" class="f-link-el">Drama</a></li>
          <li class="f-link"><a href="" class="f-link-el">Ko’proq ko’rish</a></li>
        </ul>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">Fikr-mulohazalar</li>
          <li class="f-link"><a href="" class="f-link-el">Bosh sahifa</a></li>
          <li class="f-link"><a href="" class="f-link-el">Savollar va javoblar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Kontaktlar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Maxfiylik siyosati</a></li>
          <li class="f-link"><a href="" class="f-link-el">Foydalanuvchi shartnomasi</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
