<header class="hide" *ngIf="scrolled"  @headerAnimate>
  <div class="header-container">
    <div class="sub-container" [ngClass]="{'header-with-bg': lastScroll > 150 || showBlock, 'rounded-header': showBlock}">
      <div class="sub-t-block">
        <p class="sub-text">Afsuski, sizda barcha film va seriallarni ko’rish uchun obuna mavjud emas! :((</p>
        <a routerLink="/subscription" class="sub-btn">Obuna sotib olish :))</a>
      </div>
      <div class="sub-cansel">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_b_704_12810)">
            <g clip-path="url(#clip0_704_12810)">
              <g clip-path="url(#clip1_704_12810)">
                <path d="M18 6L6 18" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 6L18 18" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </g>
          </g>
          <defs>
            <filter id="filter0_b_704_12810" x="-12" y="-12" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="6"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_704_12810"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_704_12810" result="shape"/>
            </filter>
            <clipPath id="clip0_704_12810">
              <rect width="24" height="24" rx="12" fill="white"/>
            </clipPath>
            <clipPath id="clip1_704_12810">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="header-main container">
      <div class="header-primary" [ngClass]="{'header-with-bg': lastScroll > 150 || showBlock, 'rounded-header': showBlock}">
        <div class="header">
          <div class="h-logo">
            <a routerLink="/" class="h-logo-item">
              <img src="/assets/logo.png" alt="" class="h-logo-item">
            </a>
          </div>
          <div class="h-mobi">
            <a routerLink="" class="h-mobi-item">
              <img src="/assets/logo.png" alt="">
            </a>
          </div>
          <div class="h-nav">
            <ul class="nav-main">
              <a routerLink="/"><li class="nav-el">Bosh sahifa</li></a>
              <a routerLink="/movie-page"><li class="nav-el">Filmlar</li></a>
              <a routerLink="/error"><li class="nav-el">Seriallar</li></a>
              <a routerLink="/error"><li class="nav-el">Bolalar uchun</li></a>
              <a routerLink="/catalog"><li class="nav-el">Katalog</li></a>
            </ul>
          </div>
          <div class="h-profile">
            <div class="round-block">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11" cy="11" r="8" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.5 16.958L21.5 21.958" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="round-block favorite">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 7C5 4.79086 6.79086 3 9 3H15C17.2091 3 19 4.79086 19 7V20.1683C19 20.9595 18.1248 21.4373 17.4592 21.0095L13.0815 18.1953C12.4227 17.7717 11.5773 17.7717 10.9185 18.1953L6.54076 21.0095C5.87525 21.4373 5 20.9595 5 20.1683V7Z" stroke="#D3D3D4" stroke-width="1.5"/>
                <path d="M9 8.5H15" stroke="#D3D3D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="lang-switch-block" (click)="switchLang = !switchLang">
              <div class="lang-switch">
                <div class="flag-block">
                  <img src="/assets/flag.png" alt="" class="flag-item">
                </div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_336_16298)">
                    <path d="M6 9L12 15L18 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_336_16298">
                      <rect width="24" height="24" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="other-lang-container" *ngIf="switchLang">
                <div class="other-lang active-lang">
                  <img src="/assets/flag.png" alt="" >
                </div>
                <div class="other-lang">
                  <img src="/assets/russ-flag.png" alt="" >
                </div>
              </div>
            </div>
            <div class="round-block profile-block" (click)="menu = !menu">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" transform="matrix(-1 0 0 1 16 3)" stroke="#FFF0F1" stroke-width="1.5"/>
                <path d="M5 16.9347C5 16.0743 5.54085 15.3068 6.35109 15.0175V15.0175C10.004 13.7128 13.996 13.7128 17.6489 15.0175V15.0175C18.4591 15.3068 19 16.0743 19 16.9347V18.2502C19 19.4376 17.9483 20.3498 16.7728 20.1818L15.8184 20.0455C13.2856 19.6837 10.7144 19.6837 8.18162 20.0455L7.22721 20.1818C6.0517 20.3498 5 19.4376 5 18.2502V16.9347Z" stroke="#FFF0F1" stroke-width="1.5"/>
              </svg>
              <span class="p-text">Kirish</span>
            </div>
          </div>
        </div>
        <div class="menu-bar" *ngIf="menu">
          <ul class="menu-list">
            <li class="menu-list-item">
              <div class="m-l-item">
                <img src="/assets/ava.png" alt="" class="list-img">
                <p class="l-text">Saidalixon Sobirov</p>
                <div class="l-icon">
                  <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 7L7.21905 1.66939C7.66844 1.2842 8.33156 1.2842 8.78095 1.66939L15 7" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                  </svg>
                </div>
              </div>
              <ul class="menu-list-l">
                <li class="menu-list-item-l">
                  <a routerLink="/profile" class="m-l-item-little">
                    <img src="/assets/ava.png" alt="" class="list-img-l">
                    <p class="l-text">Saidalixon Sobirov</p>
                    <div class="l-icon">
                      <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                      </svg>
                    </div>
                  </a>
                </li>
                <li class="menu-list-item-l">
                  <a routerLink="/error" class="m-l-item-little">
                    <img src="/assets/ava-kids.png" alt="" class="list-img-l">
                    <p class="l-text">Bolalar uchun</p>
                    <div class="l-icon">
                      <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.999999 15L6.33061 8.78095C6.7158 8.33156 6.7158 7.66844 6.33061 7.21905L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                      </svg>
                    </div>
                  </a>
                </li>
                <li class="menu-list-item-l">
                  <a routerLink="" class="m-l-item-little">
                    <img src="/assets/user.png" alt="" class="list-img-l">
                    <p class="l-text">Hisob qo’shish</p>
                  </a>
                </li>
                <li class="menu-list-item-l">
                  <a routerLink="/login" class="m-l-item-little">
                    <img src="/assets/log-out.png" alt="" class="list-img-l">
                    <p class="l-text">Profildan chiqish</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-list-other">
              <a routerLink="" class="menu-list-o-item">
                <img src="/assets/Bell.png" alt="" class="m-l-o-img">
                <p class="l-text">Bildirishnomalar</p>
              </a>
            </li>
            <li class="menu-list-other">
              <a routerLink="" class="menu-list-o-item">
                <img src="/assets/Bookmark-2.png" alt="" class="m-l-o-img">
                <p class="l-text">Tanlangan filmlar</p>
              </a>
            </li>
            <li class="menu-list-other">
              <a routerLink="" class="menu-list-o-item">
                <img src="/assets/Frame.png" alt="" class="m-l-o-img">
                <p class="l-text">Obunalar</p>
              </a>
            </li>
            <li class="menu-list-other">
              <a routerLink="" class="menu-list-o-item">
                <img src="/assets/Setting.png" alt="" class="m-l-o-img">
                <p class="l-text">Sozlamalar</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<div class="container">
  <div class="mobi-nav-panel pc-none">
    <a routerLink="/" class="m-nav-item">
      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-nav-icon" routerLinkActive="m-link-active">
        <path d="M1 9.93841C1 8.71422 1.56058 7.55744 2.52142 6.79888L8.02142 2.45677C9.47466 1.30948 11.5253 1.30948 12.9786 2.45677L18.4786 6.79888C19.4394 7.55744 20 8.71422 20 9.93841V16.5C20 18.7091 18.2091 20.5 16 20.5H14.5C13.9477 20.5 13.5 20.0523 13.5 19.5V16.5C13.5 15.3954 12.6046 14.5 11.5 14.5H9.5C8.39543 14.5 7.5 15.3954 7.5 16.5V19.5C7.5 20.0523 7.05228 20.5 6.5 20.5H5C2.79086 20.5 1 18.7091 1 16.5L1 9.93841Z" stroke-width="1.5"/>
      </svg>
      <p class="m-nav-text" routerLinkActive="m-link-active">Asosiy</p>
    </a>
    <a routerLink="/catalog" class="m-nav-item">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-nav-icon" routerLinkActive="m-link-active">
        <path d="M10 7C10 6.46957 10.2107 5.96086 10.5858 5.58579C10.9609 5.21071 11.4696 5 12 5H18C18.5304 5 19.0391 5.21071 19.4142 5.58579C19.7893 5.96086 20 6.46957 20 7V17C20 17.5304 19.7893 18.0391 19.4142 18.4142C19.0391 18.7893 18.5304 19 18 19H12C11.4696 19 10.9609 18.7893 10.5858 18.4142C10.2107 18.0391 10 17.5304 10 17V7Z" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 7V17" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4 8V16" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <p class="m-nav-text" routerLinkActive="m-link-active">Katalog</p>
    </a>
    <a routerLink="/movie-page" class="m-nav-item">
      <svg width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-nav-icon" routerLinkActive="m-link-active">
        <rect x="1.5" y="1" width="14" height="13" rx="3.5" stroke-width="1.5"/>
        <path d="M15.5 6.16062L19.6162 3.3063C20.412 2.75446 21.5 3.324 21.5 4.29241V10.7255C21.5 11.6903 20.419 12.2607 19.6226 11.7159L15.5 8.89637V6.16062Z" stroke-width="1.5"/>
      </svg>
      <p class="m-nav-text" routerLinkActive="m-link-active">Filmlar</p>
    </a>
    <a routerLink="/error" class="m-nav-item">
      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-nav-icon" routerLinkActive="m-link-active">
        <path d="M16.2189 8.52728L18.3442 9.67696L18.7891 9.92693C19.737 10.4595 19.737 11.8325 18.7891 12.365L12.7525 15.7566C11.3524 16.5432 9.64756 16.5432 8.24754 15.7566L2.21092 12.365C1.26302 11.8325 1.26303 10.4595 2.21093 9.92693L2.65585 9.67696L4.66334 8.52728M16.6811 13.6461L18.6129 14.6185C19.6092 15.1201 19.6412 16.5398 18.6685 17.0862L12.7525 20.4101C11.3524 21.1966 9.64756 21.1966 8.24754 20.4101L2.4178 17.1347C1.4284 16.5789 1.48291 15.1278 2.5112 14.6487L4.66334 13.6461M12.7525 10.8112L18.7891 7.41961C19.737 6.88705 19.737 5.51405 18.7891 4.98149L12.7525 1.58993C11.3524 0.803358 9.64756 0.803356 8.24754 1.58993L2.21093 4.98149C1.26303 5.51405 1.26302 6.88705 2.21092 7.41961L8.24754 10.8112C9.64756 11.5977 11.3524 11.5977 12.7525 10.8112Z" stroke-width="1.5"/>
      </svg>
      <p class="m-nav-text" routerLinkActive="m-link-active">Seriallar</p>
    </a>
    <a routerLink="/profile" class="m-nav-item">
      <svg width="19" height="4" viewBox="0 0 19 4" fill="none" xmlns="http://www.w3.org/2000/svg" class="m-nav-icon-d" routerLinkActive="m-link-active-d">
        <path d="M2.5 0C1.4 0 0.5 0.9 0.5 2C0.5 3.1 1.4 4 2.5 4C3.6 4 4.5 3.1 4.5 2C4.5 0.9 3.6 0 2.5 0ZM16.5 0C15.4 0 14.5 0.9 14.5 2C14.5 3.1 15.4 4 16.5 4C17.6 4 18.5 3.1 18.5 2C18.5 0.9 17.6 0 16.5 0ZM9.5 0C8.4 0 7.5 0.9 7.5 2C7.5 3.1 8.4 4 9.5 4C10.6 4 11.5 3.1 11.5 2C11.5 0.9 10.6 0 9.5 0Z" fill="none" class="m-nav-icon-d" routerLinkActive="m-link-active-d"/>
      </svg>
      <p class="m-nav-text" routerLinkActive="m-link-active">Akkaunt</p>
    </a>
  </div>
</div>
<footer class="footer-container">
  <div class="container">
    <div class="footer-main pc-version">
      <div class="ads-block">
        <span class="ads-title">
          Qurilmangiz uchun dasturimizni yuklab oling:
        </span>
        <div class="ads-platforms">
          <div class="ads-platforms-1">
             <div class="ads-p">
               <img src="/assets/playMarket.png" alt="" class="ads-p-icon">
             </div>
             <div class="ads-p">
               <img src="/assets/appleStore.png" alt="" class="ads-p-icon">
             </div>
          </div>
          <div class="ads-platforms-2">
            <img src="/assets/OnTv.png" alt="" class="ads-p-icon">
          </div>
        </div>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">Bo’limlar</li>
          <li class="f-link"><a href="" class="f-link-el">Bosh sahifa</a></li>
          <li class="f-link"><a href="/error" class="f-link-el">Kinoteatr</a></li>
          <li class="f-link"><a href="/error" class="f-link-el">Telekanallar</a></li>
          <li class="f-link"><a href="/error" class="f-link-el">Telekanallar</a></li>
          <li class="f-link"><a href="/profile" class="f-link-el">Profil</a></li>
        </ul>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">Janrlar</li>
          <li class="f-link"><a href="" class="f-link-el">Jangari</a></li>
          <li class="f-link"><a href="" class="f-link-el">Komediya</a></li>
          <li class="f-link"><a href="" class="f-link-el">Drama</a></li>
          <li class="f-link"><a href="" class="f-link-el">Ko’proq ko’rish</a></li>
        </ul>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">Fikr-mulohazalar</li>
          <li class="f-link"><a href="" class="f-link-el">Bosh sahifa</a></li>
          <li class="f-link"><a href="" class="f-link-el">Savollar va javoblar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Kontaktlar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Maxfiylik siyosati</a></li>
          <li class="f-link"><a href="" class="f-link-el">Foydalanuvchi shartnomasi</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-main m-version">
      <div class="ads-block">
        <span class="ads-title">
          Qurilmangiz uchun dasturimizni yuklab oling:
        </span>
        <div class="ads-platforms">
          <div class="ads-platforms-1">
            <div class="ads-p">
              <img src="/assets/playMarket.png" alt="" class="ads-p-icon">
            </div>
            <div class="ads-p">
              <img src="/assets/appleStore.png" alt="" class="ads-p-icon">
            </div>
          </div>
          <div class="ads-platforms-2">
            <img src="/assets/OnTv.png" alt="" class="ads-p-icon">
          </div>
        </div>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">
            <span class="f-text-title">Bo’limlar</span>
            <div class="f-icon-m">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15.0732L11.2191 9.74263C11.6684 9.35744 12.3316 9.35744 12.7809 9.74263L19 15.0732" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </li>
          <li class="f-link"><a href="" class="f-link-el">Bosh sahifa</a></li>
          <li class="f-link"><a href="/error" class="f-link-el">Kinoteatr</a></li>
          <li class="f-link"><a href="/error" class="f-link-el">Telekanallar</a></li>
          <li class="f-link"><a href="/error" class="f-link-el">Telekanallar</a></li>
          <li class="f-link"><a href="/profile" class="f-link-el">Profil</a></li>
        </ul>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">
            <span class="f-text-title">Janrlar</span>
            <div class="f-icon-m">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15.0732L11.2191 9.74263C11.6684 9.35744 12.3316 9.35744 12.7809 9.74263L19 15.0732" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </li>
          <li class="f-link"><a href="" class="f-link-el">Jangari</a></li>
          <li class="f-link"><a href="" class="f-link-el">Komediya</a></li>
          <li class="f-link"><a href="" class="f-link-el">Drama</a></li>
          <li class="f-link"><a href="" class="f-link-el">Ko’proq ko’rish</a></li>
        </ul>
      </div>
      <div class="f-block">
        <ul class="f-link-main">
          <li class="f-link-title">
            <span class="f-text-title">Fikr-mulohazalar</span>
            <div class="f-icon-m">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15.0732L11.2191 9.74263C11.6684 9.35744 12.3316 9.35744 12.7809 9.74263L19 15.0732" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </div>
          </li>
          <li class="f-link"><a href="" class="f-link-el">Bosh sahifa</a></li>
          <li class="f-link"><a href="" class="f-link-el">Savollar va javoblar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Kontaktlar</a></li>
          <li class="f-link"><a href="" class="f-link-el">Maxfiylik siyosati</a></li>
          <li class="f-link"><a href="" class="f-link-el">Foydalanuvchi shartnomasi</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
