.header-main{
  position: fixed;
  top: 12px;
  z-index: 99;
  width: 100%;
}

.header{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0;
}
.h-logo{
  display: flex;
  align-items: center;
  gap: 12px;
}
.p-text{
  font-size: 18px;
  color: #ffffff;

}
.flag-block{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.flag-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.h-logo-item{
  height: 32px;
  width: 103px;
  object-fit: contain;
}
.nav-main{
  display: flex;
  justify-content: center;
  gap: 0 15px;
}
.nav-el{
  font-size: 16px;
  color:#D3D3D4;
  padding: 11px 12px;
  gap: 0 15px;
  cursor: pointer;
  transition: all .3s;
}
.nav-el:hover{
  transition: all .3s;
  color: #ffff;
}
.round-block{
  padding: 10px 10px;
  border-radius: 50%;
  background: #25272A8C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 44px;
}
.round-icon{
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.lang-switch-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #25272A8C;
  position: relative;
}
.lang-switch{
  padding: 10px 12px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.other-lang-container{
  position: absolute;
  top: 45px;
  background: #25272A8C;
  border-radius: 20px;
}
.other-lang{
  padding: 10px 30px;
  cursor: pointer;
  user-select: none;
}
.profile-block{
  border-radius: 50px;
  padding: 14px 32px 14px 26px;
  background: linear-gradient(98.42deg, #5E9B2F 11.48%, #77BC41 93.21%);
}
.h-profile{
  display: flex;
  align-content: center;
  gap: 0 12px;
}
.header-with-bg {
  background: rgba(28, 28, 28, 0.75);
  backdrop-filter: blur(25px);
  border-radius: 16px;
}
.rounded-header {
  max-height: 500px;
}
.header-primary{
  position: relative;
  width: 100%;
  transition: all .3s ease-out;
  max-height: 100px;
  z-index: 99;
  padding: 0 10px;
}
.active-lang{
  background: #77BC41;
  border-radius: 32px;
}


.footer-main{
  display: flex;
  width: 100%;
  padding: 32px 0;
  gap: 90px;
}
.f-block{
  width: 24%;
}
.f-link-title{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 8px 0;
  line-height: 20px;
}
.f-link{
  padding: 10px 0;
}
.f-link-el{
  font-size: 14px;
  color: #919191;
  font-weight: 500;
  line-height: 16px;
}
.ads-title{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.ads-platforms{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ads-platforms-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.ads-p{
  padding: 10px 0;
  background: #141619;
  border-radius: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.ads-platforms-2{
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #141619;
}
.ads-block{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 24%;
}
.a-link{
  color: #ffffff;
}
.list-img{
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.menu-bar{
  width: 302px;
  background: #141619;
  border-radius: 32px;
  padding: 16px;
  position: absolute;
  top: 78px;
  right: 0;
}
.menu-list{
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.m-l-item{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px;
  background: #191B1F;
  border-radius: 16px 16px 0 0;
}
.menu-list-item{
  display: flex;
  flex-direction: column;
}
.l-text{
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
}
.l-icon{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-list-l{
  padding: 8px;
  border-radius: 0 0 16px 16px;
  border: 1px solid #25272A;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.m-l-item-little{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px;
}
.list-img-l{
  width: 36px;
  height: 36px;
  object-fit: contain;
}
.menu-list-o-item{
  display: flex;
  align-items: center;
  gap: 12px;

}
.menu-list-other{
  padding: 12px;
}

.sub-container{
  background: #25272A;
  padding: 20px 0;
  display: none;
  gap: 212px;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 6;
  right: 0;
  left: 0;
}
.sub-bg{
  background: #25272A;
}
.sub-text{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.sub-btn{
  background: linear-gradient(98.42deg, #5E9B2F 11.48%, #77BC41 93.21%);
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 24px;
}
.sub-t-block{
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.sub-cansel{
  padding: 8px;
  border-radius: 50%;
  background: #3A3C4080;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.h-mobi{
  display: none;
}
.m-version{
  display: none;
}
@media (max-width: 495px) {
  .h-logo-item{
    display: none;
  }
  .h-nav{
    display: none;
  }
  .favorite{
    display: none;
  }
  .lang-switch-block{
    display: none;
  }
  .profile-block{
    display: none;
  }
  .h-mobi{
    display: block;
  }
  .footer-main{
    flex-direction: column;
    gap: 0;
  }
  .footer-container{
    border: 1px solid #3A3C40;
    border-radius: 32px 32px 0 0;
  }
  .ads-block{
    width: 100%;
    gap: 12px;
    margin-bottom: 24px;
  }
  .ads-platforms-1{
    flex-direction: column;
  }
  .ads-title{
    font-size: 20px;
    font-weight: 500;
    width: 70%;
  }
  .pc-version{
    display: none;
  }
  .m-version{
    display: flex;
  }
  .f-link-title{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .f-block{
    width: 100%;
  }
  .f-link{
    padding: 8px 0;
  }
  .mobi-nav-panel{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(13, 14, 16, 1);
    border: 1px solid rgba(60, 62, 66, 1);
    border-radius: 16px 16px 0 0;
  }
  .m-nav-icon{
    stroke: #919191;
    width: 24px;
    height: 24px;
  }
  .m-nav-text{
    color: #919191;
    font-size: 12px;
    font-weight: 400;
  }
  .m-nav-item{
    padding: 13px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    height: 72px;
  }
  .m-nav-icon-d{
    fill: #919191;
    width: 24px;
    height: 24px;
  }
  .m-link-active-d{
    fill: #ffffff;
  }
  .m-link-active{
    stroke: #ffffff!important;
    color: #ffffff;
  }
}
