<div class="container">
  <div class="about-movie">
    <div class="a-img-block">
      <img src="/assets/about-movie.png" alt="" class="a-img-item">
    </div>
    <div class="about-des">
      <div class="about-title">
        <h1 class="name-movie">Koperatsiya: Maxfiy hamkorlik filmi</h1>
        <p class="des-movie">Shimoliy Koreya chegara qo‘shinlari polkovnigi Cha Gi Sung armiyaga kontrabanda qurollarini yetkazib berish bilan shug‘ullangan, biroq kunlarning birida vaziyatdan unumli foydalanishga qaror qilgan va chegaradan ham narkotik moddalarni olib o‘ta boshlagan. U bu bilan qo'lga olindi, lavozimi tushirildi, barcha regaliyalardan mahrum bo'ldi...</p>
        <div class="more-btn">Batafsil o'qish</div>
      </div>
      <div class="genre">
        <div class="genre-1">
          <div class="genre-simple">
            <p class="g-title">Davlati:</p>
            <div class="g-items">
              <div class="g-item">Janubiy Koreya</div>
              <div class="g-item">Shimoliy Koreya</div>
            </div>
          </div>
          <div class="genre-simple">
            <p class="g-title">Ishlab chiqilgan yili:</p>
            <div class="g-items">
              <div class="g-item">2018</div>
              <div class="g-item">2019</div>
            </div>
          </div>
          <div class="genre-simple">
            <p class="g-title">Yosh chegarasi:</p>
            <div class="g-items">
              <div class="g-item">16+</div>
            </div>
          </div>
        </div>
        <div class="genre-2">
          <div class="genre-simple">
            <p class="g-title">Film janri::</p>
            <div class="g-items">
              <div class="g-item">Detektiv</div>
              <div class="g-item">Jangari</div>
              <div class="g-item">Drama</div>
            </div>
          </div>
          <div class="genre-simple">
            <p class="g-title">Davomiyligi:</p>
            <div class="g-items">
              <div class="g-item">2 s. 3 d.</div>
            </div>
          </div>
          <div class="genre-simple">
            <p class="g-title">Platformalarda quyidagicha baholangan:</p>
            <div class="g-items platforms-items">
              <div class="g-item">
                <img src="/assets/IMDb-b.png" alt="" class="">
                <span class="banner-rate">7.2</span>
              </div>
              <div class="g-item">
                <img src="/assets/KinoPoisk-b.png" alt="" class="">
                <span class="banner-rate">7.2</span>
              </div>
              <div class="g-item mar-def">
                <img src="/assets/neoPlay-b.png" alt="" class="">
                <span class="banner-rate">7.2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
