.about-movie{
  display: flex;
  align-content: flex-start;
}
.a-img-block{
  margin-right: 40px;

}
.name-movie{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 8px;
}
.about-des{
  display: flex;
  flex-direction: column;
}
.about-title{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.des-movie{
  font-size: 16px;
  font-weight: 400;
  width: 680px;
  color: #919191;
  margin-bottom: 16px;
}
.more-btn{
  background: #25272A;
  border-radius: 20px;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 400;
  color: #919191;
  display: flex;
  width: 310px;
  justify-content: center;
  align-content: center;
}
.g-title{
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.genre{
  display: flex;
}
.genre-simple{
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.g-items{
  display: flex;
  align-content: center;
  gap: 8px;
}
.g-item{
  margin-top: 16px;
  background: #191B1F;
  padding: 8px 12px;
  color: #919191;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  gap: 6px;
  display: flex;
  align-content: center;
}
.genre-1{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.platforms-items{
  width: 70%;
  flex-wrap: wrap;
}
.mar-def{
  margin: 0px;
}
