.rate-container{
  display: flex;
  gap: 40px;
}
.comment{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.rate-w{
  width: 50%;
}
.rate-w-main{
  background: #0D0E10;
  border: 1px solid  #25272A8C;
  padding: 26px 20px 20px 20px;
  gap: 32px;
  border-radius: 20px;
}
.rate-title{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 24px;
}
.comment-card{
  width: 48%;
  gap: 12px;
  display: flex;
  flex-direction: column;
  background: #0D0E10;
  border: 1px solid #25272A8C;
  padding: 26px 20px 20px 20px;
  border-radius: 20px;
}
.comment-text{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.comment-name{
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.rate-title-text{
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.rate-stars-main{
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.stars-block{
  display: flex;
  gap: 8px;
}
.stars{
  padding: 12px;
  border-radius: 50%;
  background: #25272A;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
.stars-icon{
  stroke: #919191;
  transition: all .3s;
}
.stars-icon-active{
  fill: #F99E17;
  stroke: #F99E17;
  transition: all .3s;
}
.w-comment-text{
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.w-comment-area{
  border-radius: 20px;
  border: 1px solid #25272A;
  padding: 16px;
  width: 100%;
  font-family: sans-serif, "SFNS Display";
  background: #191B1F;
  resize: none;
  outline: none;
  font-size: 16px;
  color: #919191;
  font-weight: 400;
  margin-bottom: 16px;
}
.w-comment-send{
  padding: 14px 32px;
  background: #77BC41;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
}
