<div class="card-container">
  <p class="c-title">Karta qo’shish</p>
  <div class="c-form">
    <span class="c-f-title">Karta raqami</span>
    <input type="text" class="c-f-input" placeholder="8600 **** **** 7202">
  </div>
  <div class="c-form">
    <span class="c-f-title">Tugash muddati</span>
    <input type="text" class="c-f-input" placeholder="07/24">
  </div>
  <div class="c-f-check">
    <div class="c-f-item">
      <input type="checkbox" class="c-f-check-item">
    </div>
    <span class="c-f-text">Kartani eslab qolish</span>
  </div>
  <div class="btn">Qo'shish</div>
</div>
