*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #000000;
  cursor: default;
}
html{
  font-family: sans-serif, "SFNS Display";
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
input{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: text;
}
a{
  text-decoration: none;
  cursor: pointer;
}
button{
  all: unset;
  cursor: pointer;
}
img{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  padding: 0;
}
h2{
  margin: 0;
  padding: 0;
}
.container  {
  padding: 0 calc((100% - 1300px) / 2);
}

body::-webkit-scrollbar{
  width: 3px;
  background: transparent;
}
body::-webkit-scrollbar-thumb{
  background: #77BC41;
  border-radius: 6px;
}
@media (max-width: 495px) {
  .container{
    padding: 0 calc((100% - 400px) / 2);
  }
}
@media (max-width: 375px) {
  .container{
    padding: 0 calc((100% - 355px) / 2);
  }
}
